<div class="card mt-3">
  <div class="card-header">
    Conference List
    <div class="float-right">
      <app-add-conference></app-add-conference>
    </div>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush">
      <a *ngFor="let conference of conferences" 
        [routerLink]="['/conference', conference.id]"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ conference.title }}</h5>
          <small>{{ conference.dateCreated }}</small>
        </div>
        <small>{{ conference.subject }}</small>
      </a>
    </div>
  </div>
</div>